/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body{
	margin-right: 5%;
	margin-left: 5%;
}
.first{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-top: 2%;
	
}
.navbar {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 50%;
}

.top {
	display:flex;
	justify-content: space-around;
	align-items: center;
	
}

h1{
	width: 40%;
	font-size: 100px;
	text-align: center;
	padding-top: 3%;
    padding-bottom: 5%;
}
.code-pic{
width: 40%;
padding-top: 3%;
padding-bottom: 7%;
}

button{
	width: 140px;
	height: 50px;
	font: 40px;
	border: 5px solid black;
}

.top-container{
	padding-left: 2%;
	padding-right: 2%;
	border-bottom: 6px solid black;
}

.top-middle{
	display: flex;
	justify-content: space-around;
	padding-top: 2%;
	padding-bottom: 2%;
}

h2{
	font-size: 25px;
	text-align: left;
}

.middle-img{
	text-align: center;
	width: 95%;
}

.bottom-middle{
	display: flex;
	justify-content: space-around;
	padding-top: 2%;
	padding-bottom: 2%;
}

.middle div{
    margin-right: 1%;
    margin-left: 1%;
    height: 20%;
}

.middle{
	border-bottom: 6px solid black;
}

h3{
	font-size: 17px;
    margin-top: 2%;
    margin-left: 1%;
}

address{
    line-height: 1.5;
    margin-left: 1%;
}

footer{
	text-align: center;
}

@media(max-width: 800px){
.first {
display: flex;
flex-direction: column-reverse;
justify-content: center;
align-content: space-between;
} 
.navbar{
    width: 100%;
    margin-top: 3%;
}
.code-pic{
    display: none;
}

h1{
width: 100%;
text-align: center;
margin-top: 2.5%;
}
}

@media(max-width:500px){

}


/* SERVICE PAGE STYLE
.image-section{
	width: 100%;
	padding-top: 50px;
	text-align: center;
}





.lead{
	padding-top: 20px;
	border-bottom: 6px solid black;
	margin-bottom: 5%;
}
.boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-between;
	border-bottom: solid 6px black;
}

.child-box{
	width: 35%;
	height: 50%;
	border: solid black 2px;
	background-color:lightgrey;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}

#box-header{
	padding-top: 10px;
	padding-left: 10px;
}

#box-button{
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 7px;
}

#box-p{
	text-align: left;
}

.end{
	display: flex;
	justify-content: space-around;
}

ul{
list-style-type: circle;
margin-left: 20px;
line-height: 1.5;
}
.end-div{
	margin-top: 20px;
	width: 30%;
}
#service-footer{
	margin-top: 30px;
} */

@media(max-width)